# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/

# ===================================== #
# Layout files
# ===================================== #
UserSettings/*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userosscache
/*.booproj
/*.pidb
/*.svclog
/*.dotCover
*.db
*.opendb

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
*.swp
*.bak
*.tmp
*.swp
*.bak
*.pid
*.save
*.save.[0-9]*
*.save.[A-Za-z]*
